:root {
  --primary-color: #211;
  --light: #fff;
}

* {
  color: var(--primary-color);
  scroll-behavior: smooth;
}

body {
  position: relative;
}

footer {
  width: 95vw;
  margin: 0 auto;
}

header {
  width: 100vw;
  margin: 2rem 0;
  position: fixed;
  background-color: transparent;
  backdrop-filter: blur(5px);
  display: grid;
  place-content: center;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}

header nav {
  width: 90vw;
}

main {
  max-width: 800px;
  width: 90vw;
  margin: 5rem auto;
}

footer {
  padding: 1em 0;
  text-align: right;
}

img {
  width: 100%;
}

.blog-post {
  padding: 1em 0;
}

.post-description {
  opacity: 0.85;
}

.post-date {
  font-weight: 300;
  opacity: 0.7;
}

.pagination {
  margin-top: 1em;
  border-top: 1px solid var(--primary-color);
  padding: 1rem 0;
  opacity: 0.8;
}

.pagination span {
  margin-right: 0.5rem;
}

.pagination a {
  text-decoration: none;
  opacity: 0.75;
}

.pagination a::after {
  content: " | ";
  margin: 0.5em;
  opacity: 1;
}

.pagination a:last-child::after {
  content: "";
}

.page-not-found {
  width: 100%;
  padding: 5rem 0;
  text-align: right;
}

.page-not-found h1 {
  font-size: 5rem;
}

.page-not-found p {
  font-size: 2rem;
}

.page-not-found a {
  font-size: 1.25rem;
}
